<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  {# Comment this lines for get a sidebare open by default #}
  {# <body id="body-pd" class="body-pd"> #}
  <body id="body-pd" class="">

{# <header class="header body-pd" id="header"> #}
<header class="header" id="header">

      {% set currentRoute = app.request.attributes.get('_route') %}
      {% set currentSubModuleTitle = null %}
      <div class="header_toggle ">
        <div class="d-flex align-items-center">
        {# <i class="fa-solid fa-bars fa-xmark " id="header-toggle"></i> #}

          <i class="fa-solid fa-bars toggle_margin " id="header-toggle"></i>
            {# {{ dump(subModule.route == currentRoute) }} #}
            {% for module in app.session.get('modules') %}
              {% for subModule in module.pSousModule %}
                {% if subModule.route == currentRoute %}
                  <a class="navbarPath d-flex align-items-center">
                      <span>{{ module.nom }}</span>
                      <i style="font-size:8px !important; font-weight:bold !important;" class=" ml-2 fa-solid fa-chevron-right"></i>
                      <span>{{ subModule.nom }}</span>
                  </a>

                  {% set currentSubModuleTitle =  subModule.nom %}

                  {# <div class="hiddenMenue">
                    <ul>
                    {% for m in module.pSousModule %}
                      <li><a class="" href="{{path(m.route)}}"><i class="fa-solid fa-pen-to-square"></i> {{m.nom}}</a></li>
                    {% endfor %}
                    </ul>
                  </div> #}

                {% endif %}
              {% endfor %}
            {% endfor %}

        </div>
        {# <div class="">
          {% for module in app.session.get('modules') %}
              {% for subModule in module.pSousModule %}
                  <a class="navbarPath d-flex align-items-center">
                      <span>{{ module.nom }}</span>
                      <i style="font-size:8px !important; font-weight:bold !important;" class=" ml-2 fa-solid fa-chevron-right"></i>
                      <span>{{ subModule.nom }}</span>
                  </a>
              {% endfor %}
            {% endfor %}
        </div> #}

      </div>
      <div class="profile mt-3">
          <ul class="d-flex align-items-center">
            <!-- Icon dropdown -->
            <li class=" mr-3">
              <a href="/app" class="d-flex align-items-center navBarIcons">
                {# <i class="fas fa-folder"></i><span class="ml-2 small moduleHeader"> {{app.session.get('dossier').title}}</span> #}
                <i class="fas fa-folder"></i><span class="ml-2 small moduleHeader"> {{app.session.get('dossier').prefix}}</span>

              </a>
            </li>
            <li class="mr-3">
              <a href="/dossier/module/{{app.session.get('dossier').id}}" class="navBarIcons">
                <i class="fas fa-gear"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0 dropdown">

              <button class="nav-link dropdown-toggle" id="navbarDropdown">

                <i class="fas fa-user"></i><span>{{app.user.username}}</span>
              </button>
              <div class="dropdown-menu " id="divMenu">
                  <a class="dropdown-item" href="{{path('app__profile')}}"><i class="fa-solid fa-pen-to-square"></i><span>Profile</span></a>
                  {# <a class="" href="#"><i class="fa-solid fa-gear"></i> Paramétres</a> #}
                  <a class="dropdown-item" href="{{path('app_logout')}}"><i class="fa-solid fa-right-from-bracket"></i><span>Decconexion</span></a>

              </div>
            </li>
        </ul>
      </div>

    </header>
    <div class="mt-4">
      <div class="mb-2" style="padding-top:0 !important; height:3rem !important;">
        <div class="d-flex justify-content-end align-items-center text-center mb-2 mr-2">
          <h1 class="sum-module-title mr-auto pt-2">{{currentSubModuleTitle}}</h1>
          {% set path = 'build/images/' %}
          {% for module in app.session.get('modules') %}
            {% if not module.setting and module.active %}
            <a href="{{path(module.route)}}">
              <div class="icon-module">
                <img src="{{asset(path ~ module.image )}}" class="image-module" alt="{{module.abreviation}}" />
                <h5 class="mt-1">{{module.abreviation}}</h5>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {# <div class="mt-4">
      <div class="mb-2" style="padding-top:0 !important; height:3rem !important;">
        <div class="d-flex justify-content-end align-items-center text-center mb-2 mr-2">
          <h1 class="sum-module-title mr-auto mb-auto align-self-end">{{currentSubModuleTitle}}</h1>
          <div class="icon-module">
            <img src="{{asset('build/images/medical-record.png')}}" class="image-module" alt="medical-record" />
            <h5 class="mt-1">PATIENT</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/hospital.png')}}" class="image-module" alt="hospital" />
            <h5 class="mt-1">ADMISSION</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/appointment.png')}}" class="image-module" alt="appointment" />
            <h5 class="mt-1">RDV</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/bill.png')}}" class="image-module" alt="bill" />
            <h5 class="mt-1">ENCAISSEMENT</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/factures.png')}}" class="image-module" alt="factures" />
            <h5 class="mt-1">FACTURATION</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/consulting.png')}}" class="image-module" alt="consulting" />
            <h5 class="mt-1">HONORAIRE</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/pec.png')}}" class="image-module" alt="pec" />
            <h5 class="mt-1">PEC</h5>
          </div>
          <div class="icon-module">
            <img src="{{asset('build/images/archive.png')}}" class="image-module" alt="archive" />
            <h5 class="mt-1">RECOUVEREMENT</h5>
          </div>
        </div>
      </div>
    </div> #}
    {# <hr> #}
    {# <div class="l-navbar show-sidebar " id="nav-bar"> #}
    <div class="l-navbar nav_width " id="nav-bar">

      <nav class="nav ">
        <div>
            <a href="#" class="nav_logo">
                  <img src="{{asset('build/images/parametrage/dossiers/logo_parcauto_clair.png')}}" width="40px" alt="LOGO parcauto"/>
                {# <img src="{{asset('build/images/parametrage/dossiers/logo-fcz.png')}}" alt="logo" id="logoHczSideBar"/> #}
                <span class="nav_logo-name">PARCAUTO</span>
            </a>
            <div class="nav_list menuList">
              <ul>


                      {# {% set newArray = [] %}
                      {% set modules = [] %} #}

                      {# {% for action in app.user.pActions %}
                        {% if action.pSousModule.pModule.id not in newArray %}
                        {% set modules = modules|merge([action.pSousModule.pModule]) %}
                        <li>
                          <a href="#" data-id="{{action.pSousModule.pModule.route}}"class="nav_link menuLink d-flex sidebarMenu" id="{{action.pSousModule.pModule.id}}"><i class="{{action.pSousModule.pModule.icon}} "></i>
                            <span class="nav_name">{{ action.pSousModule.pModule.nom }}</span>
                            <i class='fa-solid fa-chevron-right fa-sidebar ml-auto chevron'></i>
                          </a>
                          <ul class="nav_list sub-menu collapse" id="subModule{{action.pSousModule.pModule.id}}">
                            {% for module in modules %}
                              {% if module.id == action.pSousModule.pModule.id %}
                              {% for subModule in module.pSousModule %}
                                <li class="nav_link_sub nav_link">
                                  <a  href="/{{module.route}}/{{subModule.route}}" class="subMenuItems">
                                  {{subModule.nom}}
                                  </a>
                                </li>
                              {% endfor %}
                              {% endif %}

                            {% endfor %}
                          </ul>
                        </li>
                        {% set newArray = newArray|merge([action.pSousModule.pModule.id]) %}
                        {% endif %}
                      {% endfor %} #}
                      {# {{dump(app.request)}} #}

                      {% set getModule = app.request.pathinfo|split('/')[1] %}
                      {# {% set getSousModule = app.request.pathinfo|split('/')[2] %}  #}


                      {% for module in app.session.get('modules') %}
                        {% if getModule == "setting" or getModule == "user" %}
                          <li>
                            <a href="#" data-id="{{module.route}}"class="nav_link menuLink d-flex sidebarMenu {% if getModule == module.route %} active {% endif %}" id="{{module.id}}"><i class="{{module.icon}}"></i>
                              <span class="nav_name">{{ module.nom }}</span>
                              <span class="fas fa-caret-right"></span>
                            </a>
                            <ul class="nav_list sub-menu collapse" id="subModule{{module.id}}">
                              {% for subModule in module.pSousModule %}
                                {% if subModule.active %}

                                  <li class="nav_link_sub nav_link {% if app.request.attributes.get('_route') == subModule.route %} active {% endif %}">
                                    <a  href="{{path(subModule.route)}}" class="subMenuItems">
                                    {{subModule.nom}}
                                    </a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </li>
                        {% elseif not module.setting %}
                          <li>
                            <a href="#" data-id="{{module.route}}"class="nav_link menuLink d-flex sidebarMenu {% if getModule == module.route %} active {% endif %}" id="{{module.id}}"><i class="{{module.icon}}"></i>
                              <span class="nav_name">{{ module.nom }}</span>
                              <span class="fas fa-caret-right"></span>
                            </a>
                            <ul class="nav_list sub-menu collapse" id="subModule{{module.id}}">
                              {% for subModule in module.pSousModule|sort((a, b) => a.ord <=> b.ord) %}
                                {% if subModule.active %}

                                  <li class="nav_link_sub nav_link {% if app.request.attributes.get('_route') == subModule.route %} active {% endif %}">
                                    <a  href="{{path(subModule.route)}}" class="subMenuItems">
                                    {{subModule.nom}}
                                    </a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </li>

                        {% endif %}
                      {% endfor %}

              </ul>
            </div>
        </div>
        {# <a href="#" class="nav_link">
          <i class="bx bx-log-out nav_icon"></i>
          <span class="nav_name">Se déconnecter</span>
        </a> #}
      </nav>
    </div>

    <script>

          // --------------add active class-on another-page move----------

        // Get current path and find target link
        var path = window.location.pathname;

        var prefix = window.location.pathname.split('/')[1];



        // Account for home page with empty path
        if ( path == '' ) {
            path = 'login';
        }


        var target = $('.sub-menu li a[href="'+path+'"]');
        var menu = $('.menuLink').prop('data-id' , prefix);

        // Add active class to target link
        target.css("color","white");
        {# menu.css("color","white"); #}


      document.addEventListener("DOMContentLoaded", function (event) {
        const showNavbar = (toggleId, navId, bodyId, headerId , toggleSideBar) => {
          const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId);


          // Validate that all variables exist
          if (toggle && nav && bodypd && headerpd) {
            toggle.addEventListener("click", () => {
              // show navbar

                toggle.classList.toggle("toggle_margin")
                nav.classList.toggle("nav_width")

              nav.classList.toggle("show-sidebar");
              // change icon

              toggle.classList.toggle("fa-xmark");
              // add padding to body
              bodypd.classList.toggle("body-pd");
              // add padding to header
              headerpd.classList.toggle("body-pd");
            });
          }

        };

        showNavbar("header-toggle", "nav-bar", "body-pd", "header");

        /*===== LINK ACTIVE =====*/
        /* const linkColor = document.querySelectorAll(".nav_link");

        function colorLink() {
          if (linkColor) {
            linkColor.forEach((l) => l.classList.remove("active"));
            this.classList.add("active");
          }
        }
        linkColor.forEach((l) => l.addEventListener("click", colorLink)); */

        // Your code to run since DOM is loaded and ready
      });
      // $('.paginate_button.active').css("background-color","#f00");

      {# $(".sub-menu li").on("click", function() {

          $(this).parent().find(".active").removeClass("active");

            $(this).addClass("active");

      }) #}


      {# $("#navbarDropdown").on("click", function(){
        $("#divMenu").toggle("5ms");
      }) #}

      {# let selectedTab = localStorage.getItem("selectedTab");
      $(".sidebarMenu").find("span").each(function() {
          if ($(this).text() === selectedTab) {
              $(this).parent().addClass("active");

            var idModule = $(this).parent().attr("id");
            $(".sub-menu:not(#subModule"+idModule+")").hide("3ms");
            $("#subModule"+idModule).toggle("5ms");
            $("#subModule"+idModule).toggleClass("showing");

              $(".fa-caret-right").removeClass("rotate")

              if(!$("#subModule"+idModule).hasClass("showing")){
                  $(this).parent().find(".fa-caret-right").addClass("rotate")
              }

              $(this).parent().find(".fa-caret-right").toggleClass("rotate")
          }
      }); #}

      $(".sidebarMenu").on("click", function(){

        sidebarIsOpen = $('#nav-bar').hasClass("show-sidebar");

        if(sidebarIsOpen){

            $(".menuList:not(.nav_link_sub)").find(".active").removeClass("active");


            $(this).toggleClass("active");

            var idModule = $(this).attr("id");
            $(".sub-menu:not(#subModule"+idModule+")").hide("3ms");
            $("#subModule"+idModule).toggle("5ms");
            $("#subModule"+idModule).toggleClass("showing");

              $(".fa-caret-right").removeClass("rotate")

              if(!$("#subModule"+idModule).hasClass("showing")){
                  $(this).find(".fa-caret-right").addClass("rotate")
              }


              $(this).find(".fa-caret-right").toggleClass("rotate")

              let tabValue = $(this).find("span").text();
              localStorage.setItem("selectedTab", tabValue);



          }
      })






      {# $("html").click(function(e) {
        if ($(e.target).closest('#navbarDropdown').length == 0)
            $("#divMenu").hide("5ms");
      }); #}

    </script>
  </body>
</html>

            <!-- {# <a href="#" class="nav_link active">
              <i class="bx bx-grid-alt nav_icon"></i>
              {% for Pro in app.user.profile %}
                   {% for Ac in Pro.Actions %}
                      {% if  Ac.id == 1%}
                       <span class="nav_name">{{ Ac.nom }}</span>
                      {% endif %}
                   {% endfor %}
            </a>
              {% endfor %} #} -->
                        <!-- {# <div class="nav_list">
            {% for Ac in profile.Actions %}
            <a href="#" class="nav_link">
              <i class="bx bx-user nav_icon"></i>
                <span class="nav_name">{{ Ac.nom }}</span>
            </a>
            {% endfor %} #} -->



            <!-- <a href="#" class="nav_link">
              <i class="bx bx-message-square-detail nav_icon"></i>
              <span class="nav_name">Messages</span>
            </a> -->
            <!-- <a href="#" class="nav_link">
              <i class="bx bx-bookmark nav_icon"></i>
              <span class="nav_name">Bookmark</span>
            </a>
            <a href="#" class="nav_link">
              <i class="bx bx-folder nav_icon"></i>
              <span class="nav_name">Files</span>
            </a>
            <a href="#" class="nav_link">
              <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
              <span class="nav_name">Stats</span>
            </a> -->
