{% extends 'base.html.twig' %}

{% block title %}Gestion des conducteurs{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('settings_conducteur') }}
{% endblock %}

{% block body %}
<div class="main">
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="row no-gutters mb-2">
                <div class="col-md-6 d-flex justify-content-start align-items-center">
                    <div class="w-100">
                        <h5>LISTE DES CONDUCTEURS :</h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center ml-auto">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addConducteur">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

            <table id="conducteurTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>CIN</th>
                        <th>Permis</th>
                        <th>Téléphone</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="listConducteurs">
                    {% for index, conducteur in conducteurs %}
                        <tr id="{{ conducteur.id }}">
                            <td>{{ index + 1 }}</td>
                            <td>{{ conducteur.nom }}</td>
                            <td>{{ conducteur.prenom }}</td>
                            <td>{{ conducteur.cin }}</td>
                            <td>{{ conducteur.permisNumero }}</td>
                            <td>{{ conducteur.telephone }}</td>
                            <td>
                                {% if conducteur.active %}
                                <i class="fa-regular fa-circle-check actifIcon"></i>
                                {% else %}
                                <i class="fa-regular fa-circle-xmark inactifIcon"></i>
                                {% endif %}
                            </td>
                            
                                       
                            <td>
                                <div class="dropdown">
                                    <i class="menuActions fa-solid fa-ellipsis-vertical" id="{{ conducteur.id }}"></i>
                                    <div class="dropdown-menu dropdown-content divMenu" id="divMenu{{ conducteur.id }}">
                                        <button class="dropdown-item btnUpdateConducteur" data-id="{{ conducteur.id }}" data-toggle="modal" data-target="#updateConducteur">
                                            <i class="fa fa-pen"></i> Modifier
                                        </button>
                                        <button class="dropdown-item btnToggleStatusConducteur" data-id="{{ conducteur.id }}">
                                            <i class="fa fa-toggle-on"></i> {% if conducteur.active %}Désactiver{% else %}Activer{% endif %}
                                        </button>
                                        <button class="dropdown-item btnDeleteConducteur" data-id="{{ conducteur.id }}">
                                            <i class="fa fa-trash"></i> Supprimer
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <!-- Modal Add Conducteur -->
<div class="modal right fade" id="addConducteur" role="dialog" aria-labelledby="addConducteur" aria-hidden="true">
    <div class="modal-dialog" style="width:40%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AJOUTER CONDUCTEUR</h5>
                <button type="button" class="close" data-dismiss="modal" id="closeAddConducteur" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="nom" id="nom" placeholder="NOM" required/>
                    <input type="text" class="form-control m-2" name="prenom" id="prenom" placeholder="PRÉNOM" required/>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="cin" id="cin" placeholder="CIN" required/>
                      <input type="text" class="form-control m-2" name="telephone" id="telephone" placeholder="TÉLÉPHONE" required/>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="permisNumero" id="permisNumero" placeholder="NUMÉRO DE PERMIS" required/>
                    {# <input type="date" class="form-control m-2" name="permisDateObtention" id="permisDateObtention" placeholder="PERMIS DATE OBTENTION" required/> #}
                    <input type="text" class="form-control m-2" name="permisType" id="permisType" placeholder="TYPE DE PERMIS" required/>


                </div>
                  <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="email" id="email" placeholder="EMAIL" required/>
                    <input type="text" class="form-control m-2" name="adresse" id="adresse" placeholder="ADRESSE" required/>


                </div>
                  {# <div class="d-flex justify-content-between">
                    {# <input type="date" class="form-control m-2" name="dateNaissance" id="dateNaissance" placeholder="DATE DE NAISSANCE" required/> #}

                {# </div> #}
                <div class="d-flex m-2">
                    <div class="form-check mr-3">
                        <input class="form-check-input" type="radio" name="status" id="actif" value="actif" checked>
                        <label class="form-check-label" for="actif">ACTIF</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="desactif" value="desactif">
                        <label class="form-check-label" for="desactif">DÉSACTIF</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer m-2">
                <button type="submit" class="btn-sm btn btn-primary saveAddConducteur ladda-button" data-spinner-size="18" data-style="expand-right">
                    <span class="ladda-label">
                        <i class="fa-regular fa-floppy-disk"></i> Enregistrer
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>   


   <!-- Modal Update Conducteur -->
<div class="modal right fade" id="updateConducteur" role="dialog" aria-labelledby="updateConducteur" aria-hidden="true">
    <div class="modal-dialog" style="width:40%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MODIFIER CONDUCTEUR</h5>
                <button type="button" class="close" id="closeUpdateConducteur" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" class="form-control m-2" name="id" id="idConducteur" hidden/>

                 <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="nomUpd" id="nomUpd" placeholder="NOM" required/>
                    <input type="text" class="form-control m-2" name="prenomUpd" id="prenomUpd" placeholder="PRÉNOM" required/>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="cinUpd" id="cinUpd" placeholder="CIN" required/>
                      <input type="text" class="form-control m-2" name="telephoneUpd" id="telephoneUpd" placeholder="TÉLÉPHONE" required/>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="permisNumeroUpd" id="permisNumeroUpd" placeholder="NUMÉRO DE PERMIS" required/>
                    {# <input type="date" class="form-control m-2" name="permisDateObtentionUpd" id="permisDateObtentionUpd" placeholder="PERMIS DATE OBTENTION" required/> #}
                    {# <small class="text-muted ml-2">Veuillez sélectionner la date obtention de permis</small> #}
                    <input type="text" class="form-control m-2" name="permisTypeUpd" id="permisTypeUpd" placeholder="TYPE DE PERMIS" required/>



                </div>
                  <div class="d-flex justify-content-between">
                    <input type="text" class="form-control m-2" name="emailUpd" id="emailUpd" placeholder="EMAIL" required/>
                    <input type="text" class="form-control m-2" name="adresseUpd" id="adresseUpd" placeholder="ADRESSE" required/>

                </div>
                  {# <div class="d-flex justify-content-between">
                    {# <input type="date" class="form-control m-2" name="dateNaissanceUpd" id="dateNaissanceUpd" required/> #}
                    {# <small class="text-muted ml-2">Veuillez sélectionner la date de naissance</small> #}

                {# </div>  #}
                <div class="d-flex m-2">
                    <div class="form-check mr-3">
                        <input class="form-check-input" type="radio" name="statusupd" id="actifupd" value="actif" checked>
                        <label class="form-check-label" for="actifupd">ACTIF</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="statusupd" id="desactifupd" value="desactif">
                        <label class="form-check-label" for="desactifupd">DÉSACTIF</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer m-2">
                <button type="submit" id="updateBtn" class="btn-sm btn btn-primary saveUpdateConducteur ladda-button" data-spinner-size="18" data-style="expand-right">
                    <span class="ladda-label">
                        <i class="fa-regular fa-floppy-disk"></i> Enregistrer
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


    </div>
</div>
</div>
{% endblock %}
